<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To do list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body style="background: rgba(36, 201, 126, 0.28);">
<div class="d-flex flex-row align-items-center">
    <div style="height: 75vh; width: 12.5vw; min-height: 75vh; min-width: 12.5vw; max-height: 75vh; max-width: 12.5vw;" class="w-100 h-100">
        <!--Left Box-->
    </div>
    <div class="flex-row align-items-center justify-content-center text-center m-0">
        <div style="height: 12.5vh; width: 75vw; min-height: 12.5vh; min-width: 75vw; max-height: 12.5vh; max-width: 75vw;" class="flex-column w-100 h-100">
            <div style="justify-content: center; align-items: center;">
                <h1 class="h1 text-center fw-bold w-auto" style="font-family: Verdana, sans-serif; font-size: 7vh;">TODO™</h1>
            </div>
            <!--Top Box-->
        </div>
        <div style="height: 75vh; width: 75vw; min-height: 75vh; min-width: 75vw; max-height: 75vh; max-width: 75vw; background: rgba(255, 255, 255, 0.1); border-radius: 15px;" class="w-100 h-100 p-4 shadow-lg">
            <!--Center Box-->
            <!-- Container -> Table -->
            <table class="table">
                <thead>
                <tr>
                    <th class="col">Dimanche</th>
                    <th class="col">Lundi</th>
                    <th class="col">Mardi</th>
                    <th class="col">Mercredi</th>
                    <th class="col">Jeudi</th>
                    <th class="col">Vendredi</th>
                    <th class="col">Samedi</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="week: ${weeks}">
                    <td th:each="day: ${week.days}">

                    </td>
                </tr>
                </tbody>
            </table>
            <div class="container">
                <div class="row row-cols-7">
                    <div style="width: 5vw; height: 5vh;" th:each="day: ${days}" th:text="${day}" class="col m-1 border border-1 border-secondary shadow rounded-3"></div>
                </div>
            </div>
        </div>
        <div style="height: 12.5vh; width: 75vw; min-height: 12.5vh; min-width: 75vw; max-height: 12.5vh; max-width: 75vw;" class="w-100 h-100">
            <!--Bottom Box-->
        </div>
    </div>
    <div style="height: 75vh; width: 12.5vw; min-height: 75vh; min-width: 12.5vw; max-height: 75vh; max-width: 12.5vw;" class="w-100 h-100">
        <!--Right Box-->
    </div>
</div>
</body>
</html>